.App-container-newpage {
  width: 71vw;
  height: 600px;
  background-color: #d5cbdf;
  border-radius: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* gap: 10px; */

  text-align: center;
  
}

.LogOut-container {
  position: absolute;
padding-left: 950px;
padding-bottom: 520px;
}

.LogOut {
  width: 100px;
  height: 40px;
  color: #baafc6;
  background-color: black;
  border-radius: 50px;
  border: none;
  font-size: 1.1rem;
}

.UserProfile-container {
position: absolute;
  padding-bottom: 120px;
}

.StartPlaying {
    
  width: 180px;
  height:50px;
  color:#BAAFC6;
  background-color: black;
  border-radius: 50px;
  border: none;
  font-size: 1.2rem;
  margin-left:68px;
}

.StartPl-container {
position: absolute;
padding-top: 450px;
  padding-right: 80px;
  
}
