.App-container-newpage {
  width: 70vw;
  height: 80vh;
  background-color: #d5cbdf;
  border-radius: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.LogOut-container {
  padding: 0vh 0vw 0vh 60vw;
  margin-top: -150px;
}

.LogOut {
  width: 100px;
  height: 40px;
  color: #baafc6;
  background-color: black;
  border-radius: 50px;
  border: none;
  font-size: 1.1rem;
}
